<div class="item mine">
	<div class="media-box">
		<!--<img src="/uploads/images/competitions/tour_de_france.jpg" alt="Tour De France">-->
		<div class="mask">
			<h3 class="title">SEE COMPETITION DETAILS</h3>
			<a data_id="1" href="#/competitions/1" class="ico show-details"></a>
		</div>
	</div>
	<h3 class="project-title">Tour De France</h3>
	<p class="category">In Progress</p>
</div>

<div class="item">
	<div class="media-box">
		<!--<img src="/uploads/images/competitions/tour_de_france.jpg" alt="Tour De France">-->
		<div class="mask">
			<h3 class="title">SEE COMPETITION DETAILS</h3>
			<a data_id="1" href="#/competitions/1" class="ico show-details"></a>
		</div>
	</div>
	<h3 class="project-title">Salem Criterium</h3>
	<p class="category">Closed</p>
</div>

<div class="item mine">
	<div class="media-box">
		<!--<img src="/uploads/images/competitions/tour_de_france.jpg" alt="Tour De France">-->
		<div class="mask">
			<h3 class="title">SEE COMPETITION DETAILS</h3>
			<a data_id="1" href="#/competitions/1" class="ico show-details"></a>
		</div>
	</div>
	<h3 class="project-title">Tour of Borneo</h3>
	<p class="category">Open</p>
</div>