/* *** General *** */
@font-face {
    font-family: BrownStd-Bold;
    src: url('/fonts/BrownStd-Bold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/BrownStd-Bold.svg#svgFontName') format('svg'), /* Legacy iOS */
         url('/fonts/BrownStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/BrownStd-Bold.woff') format('woff'), /* Modern Browsers */
         url('/fonts/BrownStd-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
	overflow: hidden;
}

/* *** Buttons *** */
div.btn {
	padding: 5px 15px;
	font-size: 14px;
	text-transform: uppercase;
	font-family: BrownStd-Bold;
}

	div.timer div.title {
		font-family: BrownStd-Bold;
		text-transform: uppercase;
	}


/* *** Layout *** */

/* *** Login page *** */

		div.login-page div.col.left div.title-1 {
			font-family: BrownStd-Bold;
			text-transform: uppercase;
		}
		div.login-page div.col.left div.title-2 {
			font-family: BrownStd-Bold;
			text-transform: uppercase;
		}

		div.login-page div.col.right div.title-1,
		div.login-page div.col.right div.title-1 span {
			font-family: BrownStd-Bold;
			text-transform: uppercase;
		}

			div.race-competitions div.header div.race-name div.title {
				font-family: BrownStd-Bold;
				text-transform: uppercase;
			}

/* *** ********************************** Competitions ************************************** *** */

/* *** Competition header *** */
div#competition-header {
	background: #ff4650;
}

	div#competition-header div.col.general div.title-1 {
		font-family: BrownStd-Bold;
		text-transform: uppercase;
	}
	div#competition-header div.col.general div.title-2 {
		font-size: 24px;
		font-family: BrownStd-Bold;
		text-transform: uppercase;
	}
/* *** Competitions box *** */			

	div.competitions-box div.title {
		font-size: 24px;
		text-transform: uppercase;
		font-family: BrownStd-Bold;
	}

/* *** Overview *** */
div#overview div.name,
div#stage-overview div.name,
div#other-information div.name {
	font-size: 22pt;
}

div#overview div.info,
div#stage-overview div.info,
div#stage-overview div.description,
div.stacked-cols {
	background: #ff4650;
}

/* *** Stage overview *** */

/* *** Tipping report *** */
.tipping-report * {
	font-family: 'Merriweather', serif;
	color: #808080;
}

	div.tipping-report div.title {
		font-size: 14px;
		font-family: BrownStd-Bold;
		text-transform: uppercase;
	}
	div.tipping-report div.title-2 {
		font-size: 24px;
		font-family: BrownStd-Bold;
		text-transform: uppercase;
	}

		div#other-information div.col div.title {
			font-size: 24px;
			font-family: BrownStd-Bold;
			text-transform: uppercase;
		}
/* *** ********************************** Competition Leaderboard ************************************** *** */			
		


/* *** ********************************** User profile ************************************** *** */			

div#user-settings div.title {
	font-family: BrownStd-Bold;
    text-transform: uppercase;
}

	div#user-settings div.col div.row div.title {
		font-family: BrownStd-Bold;
		text-transform: uppercase;
	}

/* ************************************* CYCLINGTIP ADDONS ************************************ */
.choice.blue.bold {
    background: #ff4650;
}

table.data.blue.tipping th {
    background: #ff4650;
}

tr.tipping td {
    background: #ff4650;
}