<div>
	<ul>
		<li>
			<a href="/admin/manage_riders">Manage riders</a>
		</li>
		
		<li>
			<a href="/admin/manage_stages">Manage stages</a>
		</li>
		
		<li>
			<a href="/admin/manage_races">Manage races</a>
		</li>
	</ul>
</div>