<div>
	<ul>
		<li>
			<a href="/admin/manage_riders">Manage riders</a>
		</li>
		
		<li>
			<a href="/admin/manage_quotes">Manage quotes</a>
		</li>
		
		<li>
			<a href="/admin/manage_articles">Manage articles</a>
		</li>
		
		<li>
			<a href="/admin/upload_results">Upload Results</a>
		</li>
	</ul>
</div>