<div>
	<ul>
		<li>
			<label>Year: <%=Time.now.year%></label>
		</li>
		
		<li>
			<a href="/admin/manage_season_teams">Manage teams</a>
		</li>
		
		<li>
			<a href="/admin/manage_season_stages">Manage stages</a>
		</li>
	</ul>
</div>