<div>
	<ul>
		<li>
			<label>Year: <%=Time.now.year%></label>
		</li>
		
		<li>
			<a href="/admin/manage_season_races">Manage races</a>
		</li>
		
		<li>
			<a href="/admin/manage_season_teams">Manage teams</a>
		</li>
		
		<li>
			<a href="/admin/manage_stage_reports">Manage stage reports</a>
		</li>
	</ul>
</div>