<div style="margin-bottom:15px;">
	<a href="#" onclick="edit_team(null);">+ Add new team</a>
</div>

<% if (!@teams.empty?) %>
	<table class="teams">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Image</th>
			<th></th>
		</tr>
		
		<%@teams.each do |team| %>
			<tr>
				<td><%=team.id%></td>
				<td><%=team.name%></td>
				<td><img class="thumbnail" src="<%=team.image_url%>"></td>
				<td>
					<a href="#" onclick="edit_team('<%=team.id%>')">Edit</a>
					<a href="#">Remove</a>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>

<script>
function edit_team(id) {
	if (id==null)
		window.open('/admin/edit_season_team', 'Add team(s)', 'height=400,width=1000');
	else window.open('/admin/edit_season_team/'+id, 'Edit team', 'height=400,width=1000');
}
</script>

<style>
.teams {
	border: 1px solid #C3C3C3;
	border-collapse: collapse;
}
	.teams th,
	.teams td {
		border: 1px solid #C3C3C3;
	}

.thumbnail {
	max-height: 65px;
	max-width: 43px;
}
</style>