<div style="margin-bottom:15px;">
	<a href="#" onclick="edit_rider(null);">+ Add new rider</a>
</div>

<% if (!@riders.empty?) %>
	<table class="riders">
		<tr>
			<th>ID</th>
			<th>Image</th>
			<th>Name</th>
			<th></th>
		</tr>
		
		<%@riders.each do |rider| %>
			<tr>
				<td><%=rider.id%></td>
				<td><img class="thumbnail" src="<%=rider.photo_url%>"></td>
				<td><%=rider.name%></td>
				<td>
					<a href="#" onclick="edit_rider('<%=rider.id%>')">Edit</a>
					<a href="#">Remove</a>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>

<script>
function edit_rider(id) {
	if (id==null)
		window.open('/admin/edit_rider', 'Add rider(s)', 'height=400,width=400');
	else window.open('/admin/edit_rider/'+id, 'Edit rider', 'height=400,width=400');
}
</script>

<style>
.riders {
	border: 1px solid #C3C3C3;
	border-collapse: collapse;
}
	.riders th,
	.riders td {
		border: 1px solid #C3C3C3;
	}

.thumbnail {
	max-height: 65px;
	max-width: 43px;
}
</style>