<div id="change_password" class="form-field">
	<table>
		<tr>
			<td class="label">Old Password:</td>
			<td><input type="password" id="old_password" name="old_password" placeholder="Old Password"></td>
		</tr>
		
		<tr>
			<td class="label">New Password:</td>
			<td><input type="password" id="new_password" name="new_password" placeholder="New Password"></td>
		</tr>
		
		<tr>
			<td class="label">Verify Password:</td>
			<td><input type="password" id="verify_password" name="verify_password" placeholder="Verify Passsword"></td>
		</tr>
	</table>
	
	<div class="button" style="width:82px; margin-left:0;" onclick="change_password(this);">
		<span>Change</span>
	</div>
	<%=image_tag 'ajax-loader.gif', {:class=>'loading change_password'} %>
	
	<div class="custom-separator" style="margin-bottom:15px;"></div>
	
	<span class="title-text_normal">Forgot Password</span>
	<p>Click the button below to generate a temporary password and send it to your email.</p>
	<div class="button" style="width:82px; margin-left:0;" onclick="generate_temp_password(this);">
		<span>Change</span>
	</div>
	<%=image_tag 'ajax-loader.gif', {:class=>'loading forgot_password'} %>
</div>