<div id="change_password">
	<label>Old password:</label>
	<input name="old_password">
	
	<label>New password:</label>
	<input name="new_password" type="password">
	
	<label>Verify new password:</label>
	<input name="verify_password" type="password">
	
	<a class="btn" href="#">CHANGE</a>
	<a href="#" style="margin-left:20px;" onclick="show_forgot_password();">(Forgot password)</a>
	
	<hr/>
	
	<div id="forgot_password" style="margin-top:10px; display:none;">
		<h3>Forgot password</h3>
		<p>Click the button below to generate a temporary password and send it to your email.</p>
		<a class="btn forgot_password_loaded" href="#" onclick="generate_temp_password();">SEND</a>
		<img src="/assets/ajax-loader.gif" class="forgot_password_loading">
	</div>
</div>

<script>
function show_forgot_password() {
	$('#forgot_password').slideDown();
}

function generate_temp_password() {
	$('.forgot_password_loaded').hide();
	$('.forgot_password_loading').show();
	
	$.get('/users/reset_password', {}, function(response) {
		$('.forgot_password_loaded').show();
		$('.forgot_password_loading').hide();
		alert(response.msg);
	});
}
</script>

<style>
.forgot_password_loading {
	display: none;
}
</style>