<div class="span8 portfolio-field" style="border-left:1px solid #FFE04F; margin-top:20px;">
	<h4 style="margin-left:20px;">You've logged in with a temporary password. Set a new password to continue.</h4>
	<ul class="personal-info contact-form" style="padding-left: 20px;">
		<li>
			<div>
				<label>New password:</label>
				<input name="new_password" type="password">
				
				<label>Verify new password:</label>
				<input name="verify_password" type="password">
				
				<a class="btn" href="#" onclick="change_password_from_temporary();">CONTINUE</a>
			</div>
		</li>
	</ul>
</div>
