<div class="span10 portfolio-field" style="border-left:1px solid #FFE04F; margin-top:20px;">
	<h4 style="margin-left:20px;">Type in your email and we'll send you a temporary password. Use it to login and set a new password.</h4>
	<ul class="personal-info contact-form" style="padding-left: 20px;">
		<li>
			<div>
				<label>Email:</label>
				<input name="email">
				
				<img src="/assets/ajax-loader.gif" class="loading">
				<a class="btn loaded" href="#" onclick="forgot_password();">SEND</a>
			</div>
		</li>
	</ul>
</div>

<style>
.loading {
	display: none;
	margin-top: 2em;
}
</style>

<script>
function forgot_password() {
	email = $('input[name=email]').val();
	
	$('.loading').show();
	$('.loaded').hide();
	
	$.post('/users/reset_password_from_email', {email:email}, function(response) {
		alert(response.msg);
		
		$('.loading').hide();
		$('.loaded').show();
	});
}
</script>
	