<div class="content static-page">
	<div class="row">
		<div class="large-10 large-centered small-12 columns">
			<p>Back in 2007 I had an idea for making the Tour de France a little more exciting. And that lightbulb turned into the first Tip le Tour competition. From there we have morphed from excel spreadsheets and SMS tip submission to an online presence to now Biketippr.</p>

			<p>Biketippr is as simple as it sounds, a tipping contest for the professional cycling season. For each major stage race the premise is simple: you pick a unique rider for each stage of a race and you get that rider’s time, sprint points and KOM points. At the end of the race the person with the lowest cumulative total time wins the GC, the person with the most sprint points wins the sprint competition and the person with the most KOM points wins the KOM competition. It is that simple and that complex. Head on over to the FAQ and Rules for an idea on how to play.
			You can create your own competition for a stage race and also be part of the overall competition if you choose. This is the suggested option as you have the dual benefit of having the personal satisfaction of beating your mates while also knowing where you stand in the bigger fishbowl outside of your own fishbowl. its a WIN WIN for us all!</p>

			<p>Biketippr is completely free, we do this because we love cycling and we love humiliating our mates. Of course if you want to set up a entry fee and prize pool for your competition go right ahead, in the FAQ section there is an example prize breakdown. Reward the GC, Sprint and KOM but also reward stage winners, the Lanterne Rouge, etc etc, the possibilities are endless.</p>

			<p>We guarantee this you will love this. We cannot guarantee that you will not waste an inordinate amount of time trying to pick a rider who will get into the only successful break during the Le Tour. We also won’t be held responsible for you breaking your foot or your coffee table when you’ve picked Moncoutie on one of the days when he loses 35 minutes. This is life my friend, and you chose a Frenchman again, and so you will suffer.</p>

			<p>If you have any questions, <a href="mailto:cyclingtipping@gmail.com" style="color:blue;">contact us.</a></p>

			<p>Otherwise, sign up, invite your friends and start tipping!</p>

			<p>Woody + Goon</p>
		</div>
	</div>
</div>