<div class="content static-page">
	<div class="row">
		<div class="large-10 large-centered small-12 columns">
			<p>Back in 2007 I had an idea for making the Tour de France a little more exciting. And that lightbulb turned into the first Tip le Tour competition. From there we have morphed from Excel spreadsheets and SMS tip submission to an online presence to now VeloTipper.</p>			

			<p>VeloTipper is as simple as it sounds, a tipping contest for the professional cycling season. The premise is simple: you pick a unique rider for each stage of a race and you get that rider’s time, sprint points and KOM points. At the end of the race the person with the lowest cumulative total time wins the GC, the person with the most sprint points wins the sprint competition and the person with the most KOM points wins the KOM competition. It is that simple and that complex. You can check the <a href="/pages/rules" style="color:blue;">official rules</a> if you want a more complete understanding.</p>			

			<p>The best way to enjoy tipping is to create a competition where you can tip against your mates. Think of this as a league where you compete against the other players. At the same time, you are automatically added to the sitewide competition – this is where you compete against the whole world. There are some slight complications about this – again, check the <a href="/pages/rules" style="color:blue;">official rules</a> for further details. If you have comments about this implementation, please <a href="mailto:velotipper@gmail.com" style="color:blue;">contact us.</a>. We constantly refine and tweak the rules of the competition (during the off season or if one of our annoying mates is winning too much).</p>
			
			<p>VeloTipper is completely free, we do this because we love cycling and we love humiliating our mates. Of course if you want to set up an entry fee and prize pool for your competition go right ahead, in the FAQ section there is an example prize breakdown. Reward the GC, Sprint and KOM but also reward stage winners, the Lanterne Rouge, etc etc, the possibilities are endless.</p>			
			<p>We guarantee this you will love this. We cannot guarantee that you will not waste an inordinate amount of time trying to pick a rider who will get into the only successful break during the Le Tour. We also won’t be held responsible for you breaking your foot or your coffee table when you’ve picked Moncoutie on one of the days when he loses 35 minutes. This is life my friend, and you chose a Frenchman again, and so you will suffer.</p>
			
			<p>If you have any questions, <a href="mailto:velotipper@gmail.com" style="color:blue;">contact us.</a></p>			
			<p>Otherwise, sign up, invite your friends and start tipping!</p>			
			<p>Woody + Goon</p>	
		</div>
	</div>
</div>