<div class="content static-page">
	<div class="row">
		<div class="large-10 large-centered small-12 columns">
			<h1>F.A.Q</h1>
			<p>
				<b>How much does it cost?</b> VeloTipper is completely free. If you want to organise an entry charge for your own personal competition, that’s up to you. In the past we have charged entry fees and then paid out the top 10 on GC, top 3 for each of KOM and Sprint, Lanterne Rouge and Stage Winners.
			</p>
			<p>
				<b>What is a competition?</b> A competition is a tipping competition. It is a game based on an underlying cycling race in which you challenge your mates to see who is the most prescient and therefore the best. VeloTipper is all about competitions. It is comparable to a league or an office pool, if you were to compare it to other fantasy sports.
			</p>
			<p>
				<b>Is it possible for me to just play against my mates?</b> Of course. That’s the whole idea. You can create a private competition and invite your mates by email (just enter their emails, separated by commas).As the creator of the competition, you can issue daily reports celebrating your greatness and tipping prowess.
			</p>
			<p>
				<b>I am beating all of my mates – can I check to see how I stack up compared to the rest of the world?</b> Sure, you’re looking  for the Sitewide competition. From the dashboard, the top competition under any race is the Sitewide competition. It contains all of the entries from other competitions, combined in a single, grand competition. Note that you can’t tip directly into the Sitewide Competition. Before the race starts, you can select up to one Primary competition and that is your entry into the Sitewide.
			</p>
			<p>
				<b>How do I tip a rider?</b> Select the stage you want to tip and then scroll down and click the rider’s name. Riders are organised by race number.
			</p>
			<p>
				<b>Why are there no riders for me to tip?</b> We don’t upload the riders until the race releases the start list. This is usually only a day or two before the first stage.  It’s not a perfect system, but neither is allowing people to tip riders that don’t end up racing. If the race has started and you still can’t see any riders…panic. Or <a href="mailto:velotipper@gmail.com">contact us</a>.
			</p>
			<p>
				<b>Can I add additional tipping challenges?</b> Sure. We’ve seen people add rules like every tipper must tip riders from 3 continents or you must tip a French rider on Bastille Day. Unfortunately we’re not able to include these from the backend so you’re on your own when it comes to enforcing them. We would encourage you to have a rule that says missing 5 tips is an automatic DNF.
			</p>
			<p>
				<b>Nice try but I've got you on Team Time Trials. How do you select just one rider?</b> See we are omnipresent and many have come before you. We have previously looked at the next stage of a race and gone "Ah its a TTT what should we do?" and as we are all as individually brilliant as we are combined we aced this one. So basically....you pick a rider. Yes the same as any other stage.  And you will get his time. Yes like any other stage. The difference being that for a TTT many times only a team time is given so we crunch the numbers in the back end of the bus to work out a rider's individual time. If your rider gets dropped from the team then you suffer the consequences. Therefore you want a rider who will be in that final 5 across the line. Its all covered in <a href="/pages/rules">THE RULES</a>.
			</p>
		</div>
	</div>
</div>
