<div id="module-container"><!-- start #module-container -->
	<div id="module-background-holder">
		<% image_tag 'synergy/backg/bck-04.jpg', {:onload=>'animateModuleBackground(this)', :class=>'module-background', :id=>'module-background'}%>
		<%= image_tag 'backgrounds/dirt.jpg', {:onload=>'animateModuleBackground(this)', :class=>'module-background', :id=>'module-background'}%>
	</div>	
	<div id="module-container-holder" class="module-position-cc"  data-id="module-position-cc">
		<div id="module-home-layout2"  class="module-home-layout2" ><!-- .shadow-side-all -->
			<div id="module-home-layout2-holder">
				<%= render :partial=>'pages/partials/home_featured_articles', :locals=>{:articles=>@articles} %>
		</div>
		
	</div>
	<div id="module-scrollbar-holder_v2">
		<div id="module-scrollbar-background" class="opacity_8"></div>
		<div id="module-scrollbar-dragger"></div>
	</div>	
</div><!-- end #module-container -->