<div class="login-page">
	<div class="overlay">
		<div class="col left">
			<div class="title-1 bold">WELCOME TO BIKETIPPR</div>
			<div class="title-2">
				PICK THE RACE</br>
				TIP YOUR RIDER</br>
				SEE WHO'S WINNING
			</div>
			<div class="btn yellow" style="margin-top:20px;">Learn more</div>
		</div>
		
		<div class="col right">
			<div class="title-1 bold" style="margin-bottom:20px;">Join <span class="italic">biketippr</span> today</div>
			<div class="field-name">
				<div class="bold">First name</div>
				<div class="bold">Last name</div>
				<div class="bold">Email address</div>
				<div class="bold">Password</div>
			</div>
			
			<div class="field-value">
				<input type="text" name="firstname">
				<input type="text" name="lastname">
				<input type="text" name="email">
				<input type="password" name="password">
			</div>
			
			<div style="clear:both;"></div>
			
			<div class="submit" style="margin-top:20px;">
				<div class="btn yellow" style="margin-right: 10px;" onclick="signup(this);">Submit</div>
				<div class="tnc italic">By creating an account, I accept biketippr <span class="bold">Terms of Service</span> and <span class="bold">Privacy Policy.</span></div> 
				<div style="clear:both;"></div>
			</div>

		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	var bg_size = $(window).height() - $('#header').height();
	$('.login-page').css('height', bg_size+'px');
	$('body').css('overflow', 'hidden');
});
</script>