<div class="content static-page">
	<div class="row">
		<div class="large-10 large-centered small-12 columns">
			<h2>OFFICIAL RULES</h2>

			<p>These are the official rules of the tipping pools. We have tried to write them in legalese so that nobody can actually understand them. Please <a href="mailto:cyclingtipping@gmail.com">contact us</a> if you have any questions. Any questions you submit might end up on an FAQ. That is if we get asked any questions and they become frequent.</p>
			
			<h3>Glossary 101</h3>
			
			<p>A <b>Pool</b> means a tipping pool.</p>

			<p>A <b>Race</b> is a cycling race on which a tipping pool is based. A Race consists of one or more <b>Stages</b>. For example, Milan San Remo would be a one-Stage Race. Giro del Trentino is a five-Stage Race.</p>

			<p><b>Riders</b> participate in Races. They are (usually) professional cyclists.</p>

			<p><b>Tippers</b> participate in tipping pools. There are no rules preventing Riders from becoming Tippers. There are rules of nature that probably prevent most Tippers from becoming Riders (we know this because we’re not Riders).</p>
			
			<h3>Glossary 201</h3>
			
			<p>There are <b>Private Pools</b> and <b>Public Pools</b>: the creator of the Pool can elect whether it is Private (invite only) or Public (anyone can join). A tipper may create and/or join as many pools as she likes. The minimum number of participants in a pool is one (the trivial competition). There is no maximum number of participants. Each tipper can nominate at most one pool to be her <b>Primary Pool</b>.</p> 

			<p>The <b>Sitewide Leaderboard</b> is the collection of all Primary Pools and is used to rank all tippers who are participating in any pool on a certain race. Note that it is possible to have no Primary Pool, which is equivalent to opting out of the Sitewide Leaderboard.</p>

			<p><b>By way of example:</b> if you are participating in four pools on the Tour of the Gila, then you can elect to nominate one of these pools as your Primary. The Sitewide Leaderboard uses the tips that you submit to your primary pool as your entry. You cannot enter unique tips directly into the Sitewide Leaderboard. In each of the four pools in which you are participating, you enter your tips and see how you are tracking against the other participants in that pool.</p>

			<p><b>This all seems a bit complex?</b> Well, we suspect that most people will only participate in one pool, so this is designed so people playing a single pool have an easy way to beat their mates and understand how they are doing across the entire tipping realm. But we wanted to avoid the situation where someone is participating in 10 comps and tipping the same riders in all 10 and is taking up spots 1 through 10 on the sitewide leaderboard. So we’ve limited the sitewide leaderboard to one entrant per login.</p>
			
			<h3>Actual Rules About Tipping</h3>

			<ol>
				<li>Each Pool mirrors the timing and results of the underlying Race. Each Tipper nominates a Rider for each Stage of the Race. The Tipper earns the selected Rider’s time (including any bonus seconds), Sprint points and KOM points. After any given Stage, the Tipper with the lowest cumulative time is the GC leader. The Tipper with the most Sprint/KOM points is the Sprint/KOM leader.</li>

				<li>Each Tipper may select each Rider once during the Pool. So if you use Richard Virenque on the Prologue TT, you will not have him in the hills. Conversely, if you are waiting to use Stuart O’Grady and he crashes out, you will not get to use him. Unsurprisingly, this is the hardest part of the competition.</li>

				<li>Many Tippers can select the same Rider for a given Stage.</li>

				<li>
					There is a Default List of riders for each Race. This List will be available on the Pool page prior to the start of the Race. The Default list provides a default Rider for Tippers who:

					<ol class="style-alpha">
						<li>Fail to enter a tip before the deadline;</li>
						<li>Tip a Rider who DNS; or</li>
						<li>Tip a Rider who DNF.</li>
					</ol>
					Note that the Default List is set at the beginning of a Race and does not change. The Default List is determined by the UCI WorldTour ranking prior to the start of a Race. If the Race is the first of the season ie Tour Down Under, then the Final UCI WorldTour rankings from the year prior will be used.
				</li>

				<li>
					The Default Tipping Mechanism works as follows:
					<ol class="style-alpha"> 
						<li> When the stage starts, any Tipper who has failed to enter a tip is flagged as requiring a default. </li> 
						<li> When results are uploaded, any DNS or DNF Riders are removed from the Race (and from the Default List). Any Tipper who had selected a DNS or a DNF is flagged as requiring a Default. </li> 
						<li> Each Tipper who has been flagged is given the Rider on the top of her Default List. </li>
					</ol>
					<p>Note that each Tipper’s Default List is unique as it does not contain Riders that have been tipped on earlier Stages.</p>
					<p>The Default Tipping Mechanism does not respect that you might have tipped a Rider on a future Stage. It does, however, realise the damage it is doing and might email you to tell you have used a Default Rider. In fact, the DTM will actually remove your future tip if it brings it forward.</p>
					<p>Default tipping is much easier to understand using examples. For all of these examples, we will be tipping a three Stage Race.</p>
					<b>Default List:</b>
					<ol class="list-no-margin">
						<li>Hinault</li>
						<li>Merckx</li>
						<li>Virenque</li>
						<li>Fignon</li>
						<li>Sean Kelly</li>
					</ol>
					<p><b>Default Tipping Example 1</b></p>
					<ul>
						<li>On Stage 1, Woody tips Hinault.</li>
						<li>On Stage 2, Woody forgets to tip. He is assigned Merckx as his default since he has used Hinault.</li>
					</ul>
					<p><b>Default Tipping Example 2</b></p>
					<ul>
						<li>On Stage 1, Woody tips Hinault. During the Stage, Merckx crashes out of the Race.</li>
						<li>On Stage 2, Woody forgets to tip. He is now assigned Virenque as his default since he has used Hinault and Merckx is no longer racing.</li>
					</ul>
					<p><b>Default Tipping Example 3</b></p>
					<ul>
						<li>Before the start of Stage 1, Woody enters tips Hinault, Sean Kelly and Merckx for Stage 1, 2 and 3 respectively.</li>
						<li>Sean Kelly crashes out on Stage 1.</li>
						<li>On Stage 2, Woody forgets to update his tip (recall, Sean Kelly has crashed out). He is assigned Merckx as his default since he has used Hinault. Even though he has entered Merckx for Stage 3, Merckx is still the top rider on his Default List. Merckx is removed as his tip for Stage 3.</li>
						<li>On Stage 3, Woody again forgets to update his tip (recall, his set-and-forget Merckx tip was deleted after Stage 2). Now he is given Virenque who is the top rider on his Default List.</li>
					</ul>
				</li>
				<li>For a TTT,you select an individual Rider as normal. You are allocated the Rider time, not the Team time. Therefore, if your Rider gets dropped from the team they will receive a different time from the team. This time is  calculated by subtracting GC before the TTT from GC after the TTT. </li>
				<li>Winners and Tie Break: The stage winner is the tipper who tips the rider who finishes first (this should be obvious). The GC winner is the tipper who has the lowest time. When there is a tie on GC, tippers are ordered randomly (OK, not technically randomly, but no thought has been given to the order). If at the end of the race, there are still ties on GC, the tie break mechanism is invoked. Each tipper must nominate the overall winning rider and the total time of the rider. The tipper who nominates the highest overall finisher wins the tie. If multiple tippers nominate the same rider, then the tipper who nominates the time closest to the actual race time wins. Tie Break is found in the "Other Information" section of the Pool, and it can be updated through approximately the halfway point of the race.</li>
				<li>Results are uploaded by hand. Occasionally we make mistakes. Please forgive us. We source results from the Race’s official site whenever possible. If the Race website is useless we use another source. We are open to criticism and love a good chat about how we could do something better or simply just do it right: <a href="mailto:cyclingtipping@gmail.com">contact us</a>!</li>
				<li>Last rule. No more rules (until someone smarter than us works out some loophole).</li>
			</ol>
		</div>
	</div>
</div>