<div class="content static-page">
	<div class="row">
		<div class="large-10 large-centered small-12 columns">
			<h2>VeloTipper Terms and Conditions aka VT T&amp;C</h2>
			<h4>Privacy</h4>

			<p>We will retain your email address until you elect to disable your account at which point we will flush it down the figurative bogger. While we have your email, we will occasionally send you updates and reminders about tipping pools. These could include reminders to tip, notifications of pool invites or if you tip particularly badly and we feel the need to rub it in.</p>

			<p>We will not sell your email address, nor will we provide it to third parties. We will make reasonable efforts to not have VeloTipper compromised by various hackers, but our electronic fighting skills peaked with Street Fighter II.</p>

			<p>If you have joined a pool that is hosted on another site (for example, <a href="http://www.cyclingtips.com.au">CyclingTips</a>), we will not retain your email address in our database. At the conclusion of the pool, we may provide a copy of the tipping data to the site on which it was embedded for archival purposes. We believe it is important to retain an accurate record of who has beaten whom.</p>

			<h4>Errors</h4>

			<p>We will make the occasional error. Please <a href="mailto:velotipper@gmail.com">contact us</a> and we will endeavour to correct it as quickly as possible. We apologise in advance. If you choose to wager on your own pool, good luck. Any wagers are undertaken at your own risk and VeloTipper has nothing to do with it. We cannot be held liable for any losses incurred by you whether or not the losses arise from or are related to VeloTipper. Let them eat cake!</p>

			<h4>Note</h4>

			<p>This document has been produced without regard to legalese and describes our intent. I highly doubt it will mean anything in any court of law. Well, it will probably mean whatever the highest paid wig-wearer construes it to mean.</p>
		</div>
	</div>
</div>