<div class="home-layout-clients shadow-side-all">
	<div class="home-layout-clients-title"><%=articles[0].title%></div>
		<span class="clear"></span>
		
		<div class="layout2-description" style="padding-left:20px;">
			<span>Published on <%=articles[0].created_at.strftime('%B %e, %Y')%> by <%=articles[0].author%></span>
			</br>
			<span style="width:90%; margin-bottom:20px;"><%=articles[0].body%></span>
			
			<!--<span><a href="#/" style="float:right;">(Read more...)</a></span>-->
		</div>
							
		
	</div>
</div>