<div id="forgot-password" style="display:none;">
	<h1>Forgot your password?</h1>
	<p>Type in your email, and we'll mail you a replacement.</p>
	
	<input type="text" name="email" style="width:50%;">

	<div class="btn yellow" style="float:right;" onclick="forgot_password(this);">Send</div>
	<%=image_tag 'ajax-loader-circle.gif', {:class=>'loading', :style=>'margin:10px 10px; float:right;'} %>
	<%=image_tag 'tick-green.png', {:class=>'success', :style=>'margin:10px 10px; float:right; height:20px;'} %>
</div>

<script>
	$(document).ready(function() {
		$('.forgot-password-fancybox').fancybox({
		});
	});
</script>