<%=csrf_meta_tag%>

<!-- Facebook Login -->
<div id="fb-root"></div>
<script>
	// Additional JS functions here
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '<%=FACEBOOK_APP_ID%>', // App ID
			channelUrl : '<%=SITE_URL%>channel.html', // Channel File
			status     : true, // check login status
			cookie     : true, // enable cookies to allow the server to access the session
			xfbml      : true  // parse XFBML
		});
		
		//Remove the Facebook loader
		$('.fb_loading').hide();
		$('.fb_loaded').fadeIn();

		// Additional init code here
		FB.getLoginStatus(function(response) {
			if (response.status === 'connected') {
				// connected
				
			} else if (response.status === 'not_authorized') {
				// not_authorized
				console.log(response);
			} else {
				// not_logged_in
				
			}
		});
	};

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
   
	function fb_login() {
		FB.login(function(response) {
			if (response.authResponse) {
				// connected
				access_token = response.authResponse.accessToken;
				$.get('/users/login_with_facebook', {access_token:access_token}, function(login_response) {
					if (login_response.success)
						window.location.reload();
					else alert(login_response.msg);
				});
			} else {
				// cancelled
			}
		}, {
			scope: 'email'
		});
	}
</script>

<div style="display:none;">
	<div id="login_form">
		<div class="close_fancybox" style="float:right; cursor:pointer;">
			<img src="/assets/close.png" style="height:15px;">
		</div>
		
		<% if (session.has_key?(:invited_competitions) && !session[:invited_competitions].empty?) %>
			<h2 style="margin-left:15px;">Sign in to join the competition.</h2>
		<% end %>
		
		<div style="float:left">
			<div class="signin" style="float:left; border-right:1px solid darkGray; padding:15px;">
				<form onsubmit="return false;">
					<div style="font-weight:bold;">Login to Racetipper</div>
					<input type="text" name="email" placeholder="Email" style="margin-top:5px; margin-bottom:5px;">
					<input type="password" name="password" placeholder="Password">
					
					<div style="float:right; padding-top:15px;">
						<button onclick="submit_user_login();">Login</button>
					</div>
				</form>
				<div style="clear:both;"></div>
				
				<div style="font-weight:bold; margin-top:25px;">Or, Login with Facebook</div>
				<div style="text-align:center; margin-top:5px;">
					<img src="/assets/fb_loading.gif" class="fb_loading">
					<a href="#" onclick="fb_login();" class="fb_loaded" style="display:none;">
						<img src="/assets/facebook.gif">
					</a>
				</div>
			</div>
			
			<div class="signup" style="float:right; padding:15px;">
				<form onsubmit="return false;">
					<div style="font-weight:bold;">Create an account</div>
					<input type="text" name="firstname" placeholder="First name" style="margin-top:5px; margin-bottom:5px;">
					<input type="text" name="lastname" placeholder="Last name" style="margin-top:5px; margin-bottom:5px;">
					<input type="text" name="email" placeholder="Email" style="margin-top:5px; margin-bottom:5px;">
					<input type="password" name="password" placeholder="Password" style="margin-top:5px; margin-bottom:5px;">
					
					<div style="float:right; padding-top:15px;">
						<button onclick="submit_user_create();">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(response) {
	$("body").bind("ajaxSend", function(elm, xhr, s){
		if (s.type == "POST") {
		  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
		}
	});
	
	$('.close_fancybox').click(function() {
		$.fancybox.close();
	});
});

function submit_user_create() {
	var container = $('.signup');
	data = {};
	data['firstname'] = $(container).find('input[name=firstname]').val();
	data['lastname'] = $(container).find('input[name=lastname]').val();
	data['email'] = $(container).find('input[name=email]').val();
	data['password'] = $(container).find('input[name=password]').val();
	
	$.post('/users/create', {data:data}, function(response) {
		if (response.success) {
			window.location.reload();
		} else alert(response.msg);
	});
	
	return false;
}

function submit_user_login() {
	var container = $('.signin');
	data = {};
	data['email'] = $(container).find('input[name=email]').val();
	data['password'] = $(container).find('input[name=password]').val();
	
	$.post('/users/login', {data:data}, function(response) {
		if (response.success) {
			window.location.reload();
		} else alert(response.msg);
	});
	
	return false;
}
</script>

<style>
	#login_form input {
		border: 1px solid darkGray;
		padding: 5px;
		min-width: 200px;
		width: 200px;
	}
</style>