<div class="portfolio-header">
	<table>
		<tr>
			<td><a href="/#/home">Home</a></td>
			<td><a href="/#/competitions">Competitions</a></td>
			<td><a href="/#/profile">Profile</a></td>
		</tr>
	</table>
</div>