<div id="module-container"><!-- start #module-container -->
	<div id="module-background-holder">
		<%=image_tag 'backgrounds/dirt.jpg', {:onload=>'animateModuleBackground(this)', :class=>'module-background', :id=>'module-background'}%>
	</div>	
	<div id="module-container-holder" class="module-position-lc wide"  data-id="module-position-lc">
		<div id="module-text-page"  class="module-philosophy shadow-side-all">
			<div id="module-wrapper">
				<div id="module-text-page-holder-philosophy" style="width:95%;">             	
					<div class="title-holder">
						<span class="title-text_normal">Leave us some feeback.</span>
					</div>
					<div class="custom-separator"></div>
					
					<div style="clear:both;"></div>
					
					<div class="main-text-holder">
						<div id="feedback" class="form-field">
							<table>
								<tr>
									<td class="label">Title:</td>
									<td><input type="text" id="title" name="title" placeholder=""></td>
								</tr>
								
								<tr>
									<td class="label">Feedback:</td>
									<td><textarea id="description" name="description"></textarea>
								</tr>
								
							</table>
							
							<div class="button" style="width:82px; margin-left:0; margin-top:20px;" onclick="submit_feedback(this);">
								<span>Submit</span>
							</div>
							<%=image_tag 'ajax-loader.gif', {:class=>'loading'} %>
						</div>
					</div>
				</div>
			</div>                	 
		</div>
		<div id="module-scrollbar-holder">
			<div id="module-scrollbar-background" class="opacity_4"></div>
			<div id="module-scrollbar-dragger"></div>
		</div>    
	</div>
		
</div><!-- end #module-container -->