<p>Hi,</p>

<p>You have been invited by <%=@invitor_name%> to participate in '<%=@competition.name%>'.</p>

<p>To join the competition, click: <a href="<%=@invitation_url%>"><%=@invitation_url%></a></p>

<p>
<div>Happy Tipping!</div>
<div>Cheers.</div>
</p>