<p>Hi <%=@name%>,</p>

<p>Welcome to Racetipper!</p>

<p>
Thanks for signing up. You can continue to sign in using Facebook, or use the following credentials to log into your account.
</p>

<p>
<div><span style="font-weight:bold;">Password:</span> <%=@password%></div></br>
<p>

<p>
You may change your password from your profile once you've loged in.
</p>

<p>
<div>Happy Tipping!</div>
<div>Cheers.</div>
</p>