<p>Hi <%=@name%>,</p>

<p>We've generated a temporary password for you. Remember to change your password once you've logged in.</p>

<p>
<div><span style="font-weight:bold;">Password:</span> <%=@password%></div></br>
<p>

<p>
<div>Happy Tipping!</div>
<div>Cheers.</div>
</p>