body {
	font-family: 'PT Sans Caption';
}

.template {
	display: none;
}

.regularFont {
	font-family: Lora, Georgia, "Times New Roman", Times, serif !important;
	font-size: 1.2em !important;
}

.autoScroll {
	overflow: auto !important;
}

div.load_container {
	text-align: center;
	display: none;
}
	.loading {
		display: none;
	}

.selected-mask {
	opacity: 1 !important;
}

.fade {
	opacity: 0.3 !important;
}

/* Facebook comments */
.fb-comments, .fb-comments iframe[style] {width: 100% !important;}

.leaderboard_table tr {
	border-bottom: 3px solid gray;
}
	.leaderboard_table tr th,
	.leaderboard_table tr td {
		min-width: 70px;
		padding: 3px 2px 3px 2px;
		color: black;
	}
	
	.leaderboard_table th.sort_header {
		cursor: pointer;
	}

div.article-group {
	max-height: 235px;
	margin-bottom: 30px;
	overflow: hidden;
}
	div.article-group .read-more {
		float: right;
		margin-top: 8px;
	}

	div.article-group p.article {
		text-align: justify;
		max-height: 115px;
		overflow: hidden;
	}

	div.article-group img.article,
	img.article	{
		max-height: 20%;
		max-width: 245px;
		margin-bottom: 0px;
	}

		div.article-group img.article.left {
			margin: 0px 20px 0px 0px;
			float: left;
		}
		
		div.article-group img.article.right {
			margin: 0px 0px 0px 20px;
			float: right;
		}

input, textarea {
	border: 1px solid darkgray !important;
}

label.disabled,
span.disabled {
	color: darkGray;
}

/* User menu */


table.usermenu tr th,
table.usermenu tr td {
	border: 1px solid #EEE;
	padding: 3px; 
	font-weight: normal;
	cursor: pointer;
}

	table.usermenu tr th a,
	table.usermenu tr td a {
		text-decoration: none;
		color: black;
	}
	
	table.usermenu tr th .icon,
	table.usermenu tr td .icon {
		margin-right: 20px;
	}
	
	table.usermenu tr.choice {
		display: none;
	}
	
	table.usermenu tr td:hover {
		background-color: black;
		color: white;
	}
		
		table.usermenu:hover  tr.choice {
			display: table-row;
		}

ul.usermenu {
	margin-top: -1px;
}

	ul.usermenu li {
		list-style-type: none;
		border: 1px solid #EEE;
		padding: 5px;
		width: 95px;
		text-align: right;
		background-color: white;
		cursor: pointer;
	}

/* Usermenu arrows */
.arrow-down.usermenu {
	width: 0; 
	height: 0; 
	margin-left: 3px;
	cursor: pointer;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	
	border-top: 8px solid black;
}

.arrow-up.usermenu {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
}

/* Table sort arrows */
.arrow.up.results {
	width: 0; 
	height: 0; 
	float: left;
	margin-left: 4px;
	margin-top: 10px;
	cursor: pointer;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
	display: none;
}

.arrow.down.results {
	width: 0; 
	height: 0; 
	float: left;
	margin-left: 4px;
	margin-top: 10px;
	cursor: pointer;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid black;
	display: none;
}

/* Back to top */
#back_to_top {
	position: fixed;
	top: 90%;
	z-index: 4000;
	left: 92%;
	margin-left: -85px;
	display: none;
}

div.portfolio-header {
}
	div.portfolio-header li.menu-item {
		cursor: pointer;
	}
	
	div.portfolio-header ul.header-menu {
		background-color: black;
		color: white;
		list-style: none;
	}
		
		div.portfolio-header ul.header-menu a {
			color: white;
		}
	
		div.portfolio-header ul.header-menu li.menu-item-title {
			display: inline;
			padding: 5px 8px 5px 8px;
		}
		
		div.portfolio-header ul.header-menu li.menu-item-title:hover,
		div.portfolio-header ul.header-menu li.menu-item-title:hover > a {
			background-color: #FFFF66;
			color: black;
		}
		
		div.portfolio-header ul.header-menu li.menu-item-title:hover > ul.header-submenu {
			display: block;
			background-color: black;
		}
		
			div.portfolio-header ul.header-menu li.menu-item-title ul.header-submenu {
				display: none;
				color: white;
				position: absolute;
				padding: 0;
				top: 46px;
			}
			
			/* Competitions submenu */
			div.portfolio-header ul.header-menu li.menu-item-title ul.header-submenu.competitions {
				left: 194px;
			}
			
				div.portfolio-header ul.header-menu li.menu-item-title ul.header-submenu li {
					display: block;
					padding: 8px 15px;
				}
				
				div.portfolio-header ul.header-menu li.menu-item-title ul.header-submenu li:hover {
					background-color: #E3E3E3;
					color: black;
				}
				
				div.portfolio-header ul.header-menu li.menu-item-title ul.header-submenu li:hover > ul.header-submenu {
					display: block;
					background-color: black;
					color: white;
				}
				
					/* Submenu level 2 */
					div.portfolio-header ul.header-menu li.menu-item-title ul.header-submenu li ul.header-submenu {
						position: absolute;
					}
					
						div.portfolio-header ul.header-menu li.menu-item-title ul.header-submenu li ul.header-submenu li{
							width: 200px;
						}
						
					/* My competitions submenu */
					div.portfolio-header ul.header-menu li.menu-item-title ul.header-submenu li ul.header-submenu.my-competitions {
						top: -11px;
						left: 126px;
					}
					
					/* All competitions submenu */
					div.portfolio-header ul.header-menu li.menu-item-title ul.header-submenu li ul.header-submenu.all-competitions {
						top: 24px;
						left: 126px;
					}
					
/** NEW DESIGN **/

/* Competition results table */
div.competition_results table {
	border-collapse: collapse;
	border-bottom: 1px solid;
}
	
	div.competition_results table tr {
		border-bottom: 1px solid black;
	}
	
		div.competition_results table tr th {
			font-weight: bold;
		}
		
		div.competition_results table tr th:first-child,
		div.competition_results table tr td:first-child {
			padding-left: 0;
		}

		div.competition_results table tr th,
		div.competition_results table tr td{
			padding: 5px;
			text-align: left;
		}
			
			div.competition_results table tr th div.button,
			div.competition_results table tr td div.button{
				margin: 0px;
				height: auto;
			}
			
				div.competition_results table tr th div.button span,
				div.competition_results table tr td div.button span{
					padding: 5px 5px;
				}
			
/* Tip sheet */			
div.tipsheet {
}

	div.tipsheet div.data{
	}
	
		div.tipsheet div.data fieldset{
			border: 2px groove threedface;
			padding: 8px;
			margin-top: 15px;
			clear: both;
		}

/* Style forms with labels and inputs */		
div.form-field {
	font-family: 'PT Sans Caption';
	font-size: 15px;
}
	div.form-field table tr td.label {
		padding-right: 15px;
		vertical-align: middle;
	}
	
	div.form-field table tr td textarea {
		resize: none;
	}
	
/* Image upload */
div.image_upload {
	max-height: 300px; 
	max-width: 450px;
}
	div.image_upload img {
		max-height: inherit;
		max-width: inherit;
	}
	
/* Race information */
div.race_info {
	margin-top: 22px;
	margin-left: 20px;
	float: left;
	font-family: 'PT Sans Caption';
	width: 70%;
}
	div.race_info span.selector {
		padding-left: 15px;
		border-left: 3px solid #e3e3e3;
	}
	div.race_info div.info {
		padding-left: 15px;
		border-left: 3px solid #e3e3e3;
		margin-top: 15px;
	}
		div.race_info div.info table td.label {
			padding-right: 10px;
		}
		div.race_info div.info div.description {
			margin-top: 15px;
			font-style: italic;
		}

/* Race results on home screen */
div.home_panel ul li {
	margin: 20px 0 20px 0;
	padding: 20px;
}
div.home_panel ul li:hover {
	background: lightgray;
	cursor: pointer;
}
div.home_race_result {
}
	div.home_race_result div {
		clear: both; 
		margin-top: 0px;
	}
	div.home_race_result div.results div{
		border-bottom: 1px solid #C3C3C3;
	}
		div.home_race_result div span {
			width: auto; 
			max-width: 40%;
			margin-top: 0px;
			float: right;
			overflow: hidden;
			white-space: nowrap;
		}
		div.home_race_result div span:first-child {
			float: left;
		}
	div.home_race_result div.button {
		margin: 20px 0 0 0;
		cursor: pointer;
	}
		div.home_race_result div.button span {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
		
/* Profile settings */
div.profile_settings {
	padding: 20px 30px 20px 0;
	float: left;
}
	div.profile_settings div.button {
		margin-bottom: 0;
	}