.regularFont {
	font-family: Lora, Georgia, "Times New Roman", Times, serif !important;
	font-size: 1.2em !important;
}

.autoScroll {
	overflow: auto !important;
}

.loading {
	display: none;
}

.selected-mask {
	opacity: 1 !important;
}

.fade {
	opacity: 0.3 !important;
}

input, textarea {
	border: 1px solid darkgray !important;
}