.template {
	display: none;
}

.regularFont {
	font-family: Lora, Georgia, "Times New Roman", Times, serif !important;
	font-size: 1.2em !important;
}

.autoScroll {
	overflow: auto !important;
}

.loading {
	display: none;
}

.selected-mask {
	opacity: 1 !important;
}

.fade {
	opacity: 0.3 !important;
}

.leaderboard_table tr {
	border-bottom: 3px solid gray;
}
	.leaderboard_table tr th,
	.leaderboard_table tr td {
		min-width: 70px;
		padding: 3px 10px 3px 5px;
	}

div.article-group {
	max-height: 235px;
	margin-bottom: 30px;
	overflow: hidden;
}
	div.article-group .read-more {
		float: right;
		margin-top: 8px;
	}

	div.article-group p.article {
		text-align: justify;
		max-height: 115px;
		overflow: hidden;
	}

	div.article-group img.article,
	img.article	{
		max-height: 20%;
		max-width: 245px;
		margin-bottom: 0px;
	}

		div.article-group img.article.left {
			margin: 0px 20px 0px 0px;
			float: left;
		}
		
		div.article-group img.article.right {
			margin: 0px 0px 0px 20px;
			float: right;
		}

input, textarea {
	border: 1px solid darkgray !important;
}

label.disabled,
span.disabled {
	color: darkGray;
}