<script id="competition-box-template" type="text/x-handlebars-template">
	<a href="/competitions/{{competition_id}}">
		<div class="competition grayblack">
			<div class="name bold">{{competition_name}}</div>
			<div class="stats">{{num_participants}} tippers joined</div>
			<div class="btn yellow" style="float:none; text-align:center;">View details</div>
		</div>
	</a>
</script>