<script id="stage-image-slider-template" type="text/x-handlebars-template">
	<div class="stage-image-container">
		<div class="stage-images">
			<ul class="bjqs">
				{{#each stage_images}}
					<li><img src="{{this}}"></li>
				{{/each}}
			</ul>
		</div>
	</div>
</script>