<script id="tipping-report-creator-template" type="text/x-handlebars-template">
	{{#if hide_on_load}}
		<div class="tipping-report creator" style="display:none;">
	{{else}}
		<div class="tipping-report creator">
	{{/if}}
		<div class="bar">&nbsp;</div>
		<div class="title bold">TIPPING REPORT</div>
		<div class="data-input gray">
			<input type="text" name="title" placeholder="Tipping report title" value="{{title}}">
			<textarea name="report" placeholder="Tipping report content.">{{report}}</textarea>
			
			<div class="btn yellow" onclick="save_tipping_report({{competition_id}}, {{stage_id}}, this);">Save report</div>
			<div class="loading"><%= image_tag 'ajax-spinner.gif'%></div>
			<div style="clear:both;"></div>
		</div>
	</div>
</script>

<script id="tipping-report-template" type="text/x-handlebars-template">
	<div class="tipping-report {{report_type_class}} hide-for-small" report-id="{{report_id}}">
		<div class="bar">&nbsp;</div>
		<div class="title bold">
			{{stage_name}} {{report_type}}
			{{#if allow_edit}}
				<a class="delete-report" style="color:gray;" onclick="edit_tipping_report();">Edit</a> 
				/
				<a class="delete-report" style="color:gray;" onclick="delete_report({{report_id}}, this);">Delete</a>
				<%= image_tag 'ajax-spinner.gif', {:class=>'delete loading'}%>
			{{/if}}
		</div> 
		<div class="title-2">{{title}}</div>
		<p>{{{report}}}</p>
	</div>
</script>