
<%= render 'users/partials/forgot_password' %>
<div id="header" style="height:70px;">
	<div class="row collapse">
		<div class="large-3 small-12 columns">
			<div id="header-logo">
				<%= image_tag 'biketipper-logo.png'%>
				<span>biketippr</span>
			</div>
		</div>
		<div class="large-9 columns hide-for-small">
			<div id="landing-header-login">
				<div class="col">
					<a href="#" onclick="facebook_login()"><%=image_tag 'facebook.jpg', {:style=>'margin-top:5px;'}%></a>
				</div>
				
				<div class="col">
					<input type="text" name="email" placeholder="email" name="email"></br>
					<input type="checkbox"><span class="italic">Keep me logged in</span>
				</div>
				
				<div class="col">
					<input type="password" name="password" placeholder="password" style="margin-bottom:7.5px;" name="password"></br>
					<a class="forgot-password-fancybox" href="#forgot-password" class="italic" style="color:white;">Forgot password?</a>
				</div>
				
				<div class="col">
					<div class="btn yellow" style="margin-top:2px;" onclick="login(this);">Sign In</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(event) {
	$('#header-login .login').click(function(event) {
		$('.login-form.signup').hide();
		$('.login-form.login').show();
		event.stopPropagation();
	});
	
	$('#header-login .signup').click(function(event) {
		$('.login-form.login').hide();
		$('.login-form.signup').show();
		event.stopPropagation();
	});
	$('body').click(function(event) {
		$('.login-form').hide();
	});
});
</script>